* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header, footer, main > section {
    margin: 0 auto;
    padding: 60px 0px;
}

.content {
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

header {
    padding-top: 30px;
    background-color: #1F2937;
}

#nav-bar .content {
    margin-top: 0px;
}



h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #1F2937;
}

#branding {
    font-size: 24px;
    font-weight: 400;
}

nav a {
    color: inherit;
    text-decoration: none;
    margin-left: 15px;
}

.nav-link, #tagline-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

#tagline {
    padding: 60px 0;
}

#tagline-img {
    max-width: 450px;
    height: auto;
}

#tagline-text {
    max-width: 450px;
}

#tagline-text > * {
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
}

.solid {
    background-color: #3882F6;
    color: #F9FAF8;
    
}

#spotlight .content {
    flex-direction: column;
    align-items: center;
}

#spotlight-gallery {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.spotlight-article {
    width: 200px;
}

.spotlight-article p {
    text-align: center;
}

.spotlight-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

#testamonials {
    background-color: #E5E7EB;
}

.testamonial {
    width: 90%;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    margin-bottom: 15px;
}

.quote-attribution {
    text-align: right;
}

#call-to-action {
    background-color: #3882F6;
    padding: 40px 60px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#call-to-action h3 {
    color: #F9FAF8;
}

#call-to-action p {
    color: #E5E7EB;
}

.button.outline {
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1F2937;
    padding: 15px 0;
}

footer .content {
    justify-content: center;
}

#copyright {
    font-size: 16px;
    font-weight: 300;
    color:#F9FAF8;
}